<h1 style="text-align: center;">Modulo De Catalogo</h1>
<hr>
<form>
    <div>
        <label class="col-1 col-form-label">&nbsp;</label>
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-2 col-form-label">Buscar por nombre:</label>
            <div class="col-2">
                <input class="form-control" type="text" placeholder="Ingrese el nombre">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Buscar
                </button>
            </div>
        </div>
        <br>
        <app-detalle-catalogo></app-detalle-catalogo>
        <hr>
    </div>
    <div>
        <h3 style="text-align: center;">Seccion de creacion y/o modificacion</h3>
        <label class="col-1 col-form-label">&nbsp;</label>
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-2 col-form-label">Id</label>
            <div class="col-2">
                <input class="form-control" type="text" placeholder="123" [disabled]="true">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-2 col-form-label">Nombre De la tabla</label>
            <div class="col-2">
                <input class="form-control" type="text" placeholder="Nombre">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-2 col-form-label">Descripcion de la tabla</label>
            <div class="col-2">
                <input class="form-control" type="text" placeholder="Descripcion">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-2 col-form-label">Estado</label>
            <div class="col-2">
                <input class="form-control" type="checkbox" class="multiple-check">
            </div>
        </div>

    </div>
    <br>
    <br>
    
</form>