<hr>

<h4 style="text-align: center;">Detalle Del Catalogo</h4>
<hr>
<form>
    <div class="row">
        <div class="form-group row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="input-group col">
                <button type="submit" class="btn btn-outline-primary btn-block">
                    Crear
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <table class="center">
            <thead>
                <tr>
                    <th>codigo</th>
                    <th>valor</th>
                    <th>descripcion</th>
                    <th>estado</th>
                    <th>transaccion</th>
                    <th>fecha Transaccion</th>
                    <th>usuario</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>valor</td>
                    <td>prueba</td>
                    <td>desabilidato</td>
                    <td>123</td>
                    <td>04/27/2022</td>
                    <td>pruebas</td>
                    <td>
                        <div class="input-group col">
                            <button type="submit" class="btn btn-outline-primary " style="width: 82px;">
                                Modificar
                            </button>
                            <button type="submit" class="btn btn-outline-primary" style="width: 82px;">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>valor</td>
                    <td>prueba</td>
                    <td>desabilidato</td>
                    <td>123</td>
                    <td>04/27/2022</td>
                    <td>pruebas</td>
                    <td>
                        <div class="input-group col">
                            <button type="submit" class="btn btn-outline-primary " style="width: 82px;">
                                Modificar
                            </button>
                            <button type="submit" class="btn btn-outline-primary" style="width: 82px;">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>valor</td>
                    <td>prueba</td>
                    <td>desabilidato</td>
                    <td>123</td>
                    <td>04/27/2022</td>
                    <td>pruebas</td>
                    <td>
                        <div class="input-group col">
                            <button type="submit" class="btn btn-outline-primary " style="width: 82px;">
                                Modificar
                            </button>
                            <button type="submit" class="btn btn-outline-primary" style="width: 82px;">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>valor</td>
                    <td>prueba</td>
                    <td>desabilidato</td>
                    <td>123</td>
                    <td>04/27/2022</td>
                    <td>pruebas</td>
                    <td>
                        <div class="input-group col">
                            <button type="submit" class="btn btn-outline-primary " style="width: 82px;">
                                Modificar
                            </button>
                            <button type="submit" class="btn btn-outline-primary" style="width: 82px;">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
</form>