$color-primario: #455A64;
$color-secundario: #FFB74D; 

//Index
$color-boton-cabecera: #B0BEC5;
$color-nombre-cabecera: #ffffff;
$font-family-cabecera: Roboto, sans-serif;

//Tabla
$font-size-busqueda: 14px;
$font-size-tabla-header: 13px;
$font-size-tabla-row: 12px;
$color-tabla-row-selected:#f0f0f5;

$color-add:#10265c;
$color-update:#10265c;
$color-delete:#ff0000;